include README.md
include runtests.py
recursive-include griffin_notebook/locale *.mo
recursive-include griffin_notebook/utils/templates *.html
recursive-include griffin_notebook/server *.css *.html
recursive-include griffin_notebook/server/static *.js *.eot *.woff *.woff2 *.svg *.ttf
prune griffin_notebook/server/node_modules
prune doc
prune .github
prune requirements
